* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 10px;
    gap: 25px;
}

nav {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.banner-card {
    background-image: url(images/island.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.banner-text {
    position: absolute;
    top: 70%;
    left: 1%;
}

h2, p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.banner-card .image-credit {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 6px;
    border-radius: 4px;
    text-decoration: none;
}

.image-credit a {
    color: white;
    text-decoration: underline;
}

.img-tall {
    display: flex;
    height: 400px;
    width: 380px;
}

.img-wide {
    display: flex;
    width: 500px;
    height: auto;
}

.img-tall-two {
    display: flex;
    height: 500px;
    width:400px;
}

.img-wide-two {
    display: flex;
    width: 520px;
    height: 370px;
}

.activities {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 20px;
}

.activities a img {
  transition: filter 0.3s ease;
}

.activities a:hover img {
  filter:opacity(70%);
}

.activity-item .image-credit {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 6px;
    border-radius: 0 0 4px 4px;
    text-decoration: none;
}

.activity-item {
    position: relative;
}